fastapi
uvicorn
streamlit
requests
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-huggingface
langchain-groq
langchain-text-splitters
langgraph

chromadb
sentence-transformers
rank-bm25

pypdf
wikipedia
ddgs
groq